@import "abstracts/variables";
@import "abstracts/commons";
@import "abstracts/typography";
@import "abstracts/base";

@import "layout/header";
@import "layout/footer";

@import "pages/front-page";
@import "pages/articles";
@import "pages/single";
@import "pages/page";
@import "pages/page-skills";
@import "pages/page-projects";
@import "pages/page-about";
@import "pages/page-contact";


@import "vendors/bootstrap-grid.min.css";
@import "vendors/reset.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;

}