header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-image: url("../img/wave.svg");
  height: 300px;
}

header #menu_style {
  align-items: center;
}

header #menu_style .logo img {
  max-width: 100%;
}

header #menu_style .menu__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header #menu_style .menu__list #menu-menu-1 {
  display: flex;
}

header #menu_style .menu__list #menu-menu-1 li {
  margin: 0 20px;
  font-size: 18px;
  padding: 10px 0;
  color: #545454;
  outline: none;
}

header #menu_style .menu__list #menu-menu-1 li:last-of-type {
  margin-right: 30px;
}

header #menu_style .menu__list #menu-menu-1 li:hover {
  text-shadow: 1px 1px  black;
}

header #menu_style .menu__list .social-icons i {
  margin: 0 5px 0 10px;
  font-size: 35px;
}

header #menu_style .menu__list .social-icons i.github {
  color: #24292e;
}

header #menu_style .menu__list .social-icons i.linkedin {
  color: #0a66c2;
}

header #menu_style .menu__list .social-icons i:hover {
  transform: scale(1.1);
}
