#front-page {
  padding: 0px 0 70px 0;
  margin-top: -100px;
}

#front-page #front-page-introduction {
  align-items: center;
}

#front-page #front-page-introduction #col-introdution .about-box {
  padding: 30px 60px;
}

#front-page #front-page-introduction #col-introdution .about-box h1 {
  font-size: 35px;
  color: #545454;
  font-weight: 700;
  padding: 0 0 20px 0;
}

#front-page #front-page-introduction #col-introdution .about-box span {
  color: #ff5757;
}

#front-page #front-page-introduction #col-introdution .about-box h2 {
  font-size: 20px;
  color: #545454;
  font-weight: 400;
  padding: 20px 0;
  line-height: 30px;
  letter-spacing: 0.2px;
}

#front-page #front-page-introduction #col-introdution .about-box .top__btn {
  border: 2px solid #5a5555;
  background-color: transparent;
  color: #5a5555;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 3.5rem / 100%;
}

#front-page #front-page-introduction #col-introdution .about-box .top__btn:hover {
  border: 2px solid #545454;
  color: #ff5757;
  transform: scale(1.1);
}

.front-page_img img {
  max-width: 100%;
}
