.box { 
  position: absolute;
  width: 30px;
  height: 30px;
  left: 40%;
  background: transparent;
  transform: rotate(45deg);
  border: 5px solid transparent ;
  border-bottom-color: #91b3fa;
  border-right-color: #91b3fa;
  animation: move 1000ms linear infinite alternate;

    @keyframes move { 
    0% {top: 220px;}
        
    100% {top: 250px;}
    }
}

#front-page {
   padding: 0px 0 70px 0;
   margin-top: -100px;
   
   #front-page-introduction {
       align-items: center;

       #col-introdution {

           .about-box {
               padding: 30px 60px;

               h1 {
                font-size: 35px;
                color: #545454;
                font-weight: 700;
                padding: 0 0 20px 0;
            }
            span {
                color: #ff5757;
            }
 
            h2 {
                font-size: 20px;
                color: #545454;
                font-weight: 400;
                padding: 20px 0;
                line-height: 30px;
                letter-spacing: 0.2px;
            }

            .buttons {
                padding-top: 60px;

                .top__btn {
                    border: 2px solid #5a5555;
                    background-color: transparent;
                    color: #5a5555;
                    font-size: 16px;
                    padding: 10px 20px;
                    //border-radius: 3.5rem / 100%;
                }
     
                .top__btn:hover {
                    border: 2px solid #545454;
                    color: #ff5757;
                   
                } 
            }
        } 
       }
   }
}

.front-page_img {
    img {
        max-width: 100%;
    }
} 
    
