.page-template-page-contact h2 {
  text-align: center;
  font-size: 24px;
  padding-bottom: 70px;
}

.page-template-page-contact #contact-data p {
  font-size: 18px;
  text-align: center;
}

.page-template-page-contact #contact-data a:hover {
  color: #7ea3fa;
}

.page-template-page-contact #contact-data img {
  max-width: 100%;
}

.page-template-page-contact p {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  text-align: left;
  padding-bottom: 13px;
}

.page-template-page-contact p.form-start {
  padding-bottom: 50px;
}

.page-template-page-contact form input, .page-template-page-contact form textarea {
  font-family: 'Jost';
}

.page-template-page-contact .wpcf7-form.init p {
  padding-bottom: 15px;
  line-height: 5px;
}

.page-template-page-contact .wpcf7-form.init input, .page-template-page-contact .wpcf7-form.init textarea {
  border: none;
  border-bottom: 2px solid black;
}

.page-template-page-contact button.button.type3.link {
  margin: 0px;
}

.page-template-page-contact .wpcf7-form-control.wpcf7-submit {
  background: transparent;
  border: none !important;
  position: absolute;
}

@media screen and (max-width: 767px) {
  #contact {
    margin-top: -60px;
  }
  #contact img {
    margin-top: -50px;
  }
  #contact #wpcf7-f37-o1 p, #contact p.form-start {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  input[type=text],
  input[type=email],
  textarea {
    width: 80%;
  }
}
