.page-template-page-about #about-desc {
  padding-bottom: 70px;
}

.page-template-page-about #photo {
  text-align: center;
}

.page-template-page-about h2 {
  text-align: center;
  font-size: 24px;
  padding-bottom: 50px;
  color: #545454;
}

.page-template-page-about ul {
  list-style: none;
  margin: 0 !important;
}

.page-template-page-about a {
  text-decoration: none !important;
  display: inline-block;
}

.page-template-page-about img {
  max-width: 100%;
}

.page-template-page-about button:focus {
  outline: none;
}

.page-template-page-about p {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  text-align: left;
  padding-bottom: 13px;
}

.page-template-page-about .container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

.page-template-page-about .d-flex-2 {
  display: flex;
  align-items: center;
}

.page-template-page-about .timeline-area {
  padding: 20px 0 20px 0;
}

.page-template-page-about .all-timelines {
  position: relative;
}

.page-template-page-about .timelines h2 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin-bottom: 40px;
}

.page-template-page-about .all-timelines::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 2px;
  background: #efa22f;
  top: 10px;
}

.page-template-page-about .single-timeline {
  margin-bottom: 22px;
}

.page-template-page-about .timeline-blank {
  width: 50%;
}

.page-template-page-about .timeline-text {
  width: 50%;
  padding-top: 3px;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.page-template-page-about .timeline-text h6 {
  color: #05182b;
  font-weight: 900;
  display: inline-block;
  font-size: 1rem;
}

.page-template-page-about .timeline-text span {
  color: #633d48;
  display: block;
  width: 100%;
}

.page-template-page-about .single-timeline:nth-child(even) .timeline-text span {
  text-align: right;
}

.page-template-page-about .t-square {
  content: "";
  position: absolute;
  width: 12px;
  top: 30%;
  height: 12px;
  left: -6px;
  background: #efa22f;
}

.page-template-page-about .single-timeline:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.page-template-page-about .single-timeline:nth-child(even) .t-square {
  right: -6px;
  left: unset;
}

.page-template-page-about .single-timeline:nth-child(even) .timeline-text {
  padding-left: 0;
  padding-right: 30px;
  text-align: right;
}

@media all and (max-width: 768px) {
  .all-timelines::before {
    right: unset;
    top: 0;
  }
  .single-timeline:nth-child(2n) .timeline-text {
    padding-left: 30px;
    padding-right: 0;
    text-align: left;
  }
  .single-timeline:nth-child(2n) .t-square {
    left: -6px;
    right: unset;
  }
  .timeline-blank {
    display: none;
  }
  .timeline-text {
    width: 100%;
  }
  .single-timeline:nth-child(even) .timeline-text span {
    text-align: left !important;
  }
}

@media all and (max-width: 360px) {
  .all-timelines::before {
    top: 32px;
  }
}
